<div class="body">
    <div class="login">
        <!-- USUARIO PARA LOGUEARSE usuario=='mariavh' && password=='admin00' -->
        <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
        <form [formGroup]="form" *ngIf="!loading" (ngSubmit)="ingresar()">
            <img src="../../../assets/img/programador.png" style="width: 50%;">
            <h1 class="">Login</h1>
            <mat-form-field class="ancho">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="ancho">
                <mat-label>Clave</mat-label>
                <input matInput autocomplete="off" type="password" formControlName="password">
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary" class="boton" 
                [disabled]="form.invalid">Ingresar</button>
        </form>
    </div> 
</div>